**/.docker/grafana/*
**/.DS_Store
./job_processor/data
**/prometheus
**/prometheus.yml
**/data
**/grafana/*
!grafana/grafana.db
!grafana/grafana.json
.docker/grafana/*
!.docker/grafana/grafana.db
**/.env
